App Designs.xcodeproj/xcuserdata/poolit.xcuserdatad/xcschemes/xcschememanagement.plist
App Designs.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
App Designs.xcodeproj/project.xcworkspace/xcuserdata/poolit.xcuserdatad/UserInterfaceState.xcuserstate
App Designs.xcodeproj/project.xcworkspace/contents.xcworkspacedata
